<div class="formBlock">
    <div class="card">
        <div class="card-body">
            <h2 class="card-header toolbar">IG Contact List</h2>
        </div>
    </div>
    <div class="card">
        <div class="col-7">
            <h5 style="margin-left: 20px">Contacts</h5>
        </div>
        <div class="col-3">
            <div class="search-container">
                  <input type="text" (keyup)="applyFilter($event.target.value);" placeholder="Search by name,Job title" name="search">
                  <button  (keyup)="applyFilter($event.target.value);" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-2">
            <i class="col-1 fa fa-filter pr-2"></i>
            <button class="btn btn-primary btn-lg pull-right mr-20" type="button">
                <i class="fa fa-edit pr-2"></i>Update</button>
        </div>
    </div>
    <div>
    </div>
    <br>
    <div class="container">
        <div class="card" *ngFor="let contact of contactDetails">
            <div class="col-md-3">{{contact.name}}</div>
            <div class="col-md-3">{{contact.number}}</div><br>
            <div class="col-md-3">{{contact.jobTitle}}</div>
        </div><br>
    </div>

</div>