<div class="formBlock bg">
    <div class="card">
        <div class="card-body">
            <h2 class="card-header toolbar">IG Account Details</h2>
        </div>
    </div>
    <div class="card">
    <!-- <div class="r">ow -->
        <div class="col-9">
            <h5 style="margin-left: 20px">Account Details</h5>
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-lg pull-right btn-size">
                <i class="fa fa-comments pr-2"></i>Feedback</button>
            <button class="btn btn-primary btn-lg pull-right mr-20" type="button">
                <i class="fa fa-edit pr-2"></i>Update</button>
        </div>
    <!-- </div> -->
</div>
    <div>
    </div>
    <br>
    <div class="container">
        <div class="card">
            <div class="col-6 box">
                <div class="title">Company Name :</div>
                <div>{{companyDetails.companyName}}</div>
            </div>
            <div class="col-6 box">
                <div class="title">Primary Industry :</div>
                <div>{{companyDetails.primaryIndustry}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
                <div class="title">Address :</div>
                <div>{{companyDetails.address}}</div>
            </div>
            <div class="col-6 box">
                <div class="title">Revenue :</div>
                <div>{{companyDetails.revenue}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
                <div class="title">Phone :</div>
                <div>{{companyDetails.phoneNumber}}</div>
            </div>
            <div class="col-6 box">
                <div class="title">Employee Size :</div>
                <div>{{companyDetails.employeeSize}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
              <div class="title">Website :</div>
              <a href="www.google.com"><div>{{companyDetails.website}}</div></a>
            </div>
            <div class="col-6 box">
               <div class="title">SIC :</div>
               <div>{{companyDetails.sic}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
              <div class="title">Ownership :</div>
              <div>{{companyDetails.ownership}}</div>
            </div>
            <div class="col-6 box">
               <div class="title">NAISC :</div> 
               <div>{{companyDetails.naisc}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
                <div class="title">LikeIN Url:</div>
                 <a href="www.google.com"><div>{{companyDetails.linkedInUrl}}</div></a>
            </div>
            <div class="col-6 box">
               <div class="title">All Industry:</div>
               <div>{{companyDetails.allIndustry}}</div>
            </div>
        </div><br>
        <div class="card">
            <div class="col-6 box">
                <div class="title">Parent Company:</div>
                <div>{{companyDetails.parentCompany}}</div>
            </div>
            <div class="col-6 box">
                <div class="title">All ISIC</div>
                <div>{{companyDetails.allSIC}}</div>
            </div>
        </div>
    </div>

</div>